@charset "UTF-8";

@media screen and (min-width:700px) and             (max-width:992px){
    body{
        background-image: linear-gradient(to top 45deg #798AF7,#2E49F5,);
    }

    section#login{
        width:90vw;
    }

    section#longin > div#imagem{
        float: right;
        width: 20%;
        height: 100%;
    }

    section#login > div#formulario{
        float: center;
        width: 70%;
        text-align:center;
    }
}

@media screen and (min-width:992px) {
    section#login{
        width: 950px;
    }

 body{
        background-image: linear-gradient(to top #49a09d,#5f2c82, );
    }
    
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
    }

    div#formulario > h1{
        font-size: 1.5em;
        padding-top: 12px;
    }
    div#formulario{
        font-size: 1em;
    }
}
